@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Afacad&family=Comfortaa&display=swap');
@import '../../pages/_scss/_variables.scss';

a.homeButton {
	bottom: 24vh;
	right: 20px;
}

@media(max-width: $mobile-breakpoint) {
	a.homeButton {
		display: none;
	}
}