@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Afacad&family=Comfortaa&display=swap');
@import '../../pages/_scss/_variables.scss';

.intro {
    width: 46vw;
    margin: 16vh 12vw 40vh 42vw;
    vertical-align: top;
    z-index: 99;
    position: relative;

    h2 {
        font-family: Indie Flower;
        color: $purple;
    }
    
    p {
        margin: 40px 0
    }

    li {
		color: $purple;
    }
}

@media(max-width: $mobile-breakpoint) {
    .intro {
		margin-left: 2vw;
		width: 90vw;
	}
}