@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Afacad&family=Comfortaa&display=swap');
@import '../../pages/_scss/_variables.scss';

a.homeButton,
a.diyButton,
a.travelsButton,
a.tutorialsButton,
a.blogButton,
a.resumeButton {
	display: block;
	position: fixed;
	z-index: 99999;
	padding: 8px;
    border-radius: 50%;
    border: 0px solid $yellow;
    right: 2vw;

	svg {
		fill: $yellow;
		display: inline-block;
		vertical-align: middle;
		width: 32px;
        height: 32px;
		margin: 4px;
        transition: all .3s linear;
	}

	&:hover svg {
		transform: scale(1.2);
		cursor: pointer;
	}
}

@media(max-width: $mobile-breakpoint) {
	a.homeButton {
		display: none;
	}
}


a.travelsButton {
	bottom: 4vh;
}

a.diyButton {
	bottom: calc(4vh + 80px);
}

a.tutorialsButton {
	bottom: calc(4vh + 160px);
}

a.blogButton {
	bottom: calc(4vh + 240px);
}

a.resumeButton {
	bottom: calc(4vh + 320px);
}
