@font-face {
    font-family: 'Afacad';
    src: url('/fonts/afacad.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Comfortaa';
    src: url('/fonts/comfortaa.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Indie Flower';
    src: url('/fonts/indie-flower.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nova Square';
    src: url('/fonts/nova-square.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}