@import './_fonts.scss';

$purple: #6c6eec;
$purple-dark: #5c5edc;
$dark: #4a4b50;
$darker: #222222;
$darkest: #111111;
$quotes: #5c5d62;
$modal: #6a6b70;
$code: #aaaaaa;
$light: #dddddd;
$lighter: #eeeeee;
$white: #ffffff;
$black: #000000;
$yellow: #ffc917;

$mobile-breakpoint: 800px;
