@import './_variables.scss';

html {
	font-size: 20px;
    overflow-x: hidden;
}
body,
button,
a {
	font-family: 'Afacad', sans-serif;
	font-size: 1rem;
    letter-spacing: 0.1rem;
    color: $light;
    text-shadow: 2px 2px 4px #00000033;
    background-color: $darkest;
}
a {
    background: none;
}
ul,
ol {
    margin-left: 40px;
}
.avatar {
    color: $black;
    display: inline-block;
    vertical-align: top;
    margin: 8vh 4vw 0 16vw;
    width: 160px;
    position: fixed;
    box-shadow: none !important;
}
h1 {
    font-size: 3rem;
    color: $purple;
    text-shadow: none;
    align-self: center;
}
.article {
    margin: 0 24vw 40vh 40vw;
    height: auto !important;
    display: inline-block;
    vertical-align: top;
    padding: 0 40px 80px 40px;

    * {
        max-width: 50vw;
    }
    p,
    li {
        & > code {
            font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
            background-color: $black;
            padding: 0 2px;
            color: $purple;
            font-size: 0.8rem;
            line-height: 1rem;
            letter-spacing: 2px;
            box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.05);
        }
    }

    .codeParent {
        max-width: 50vw !important;
        min-width: 50vw;
    }

    sourcecode,
    pre {
        margin: 20px 0 20px 20px;
        font-size: 0.8rem;
        box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.05), 1px 1px 10px 1px rgba(0, 0, 0, 0.05);
    }
}
h1,
h2,
h3 {
    margin: 8vh 0 4vh 0;
    font-weight: 200;
}
p,
ul,
ol {
    margin-bottom: 4vh;
}
ul.tags {
    li {
        display: inline-block;
        padding: 4px 8px;
        margin: 4px;
        border-radius: 4px;
        background-color: $purple;
        color: $white;
    }
}
blockquote {
    border-left: 4px solid $light;
    margin-left: 20px;
    padding-left: 20px;
    position: relative;

    &:before {
        color: $purple;
        content: "\201D";
        speak: none;
        font-style: normal;
        font-weight: bold;
        text-transform: none;
        line-height: 1;
        font-size: 56px;
        left: 100%;
        padding-left: 20px;
        top: 0;
        position: absolute;
    }
}
table {
    margin: 4vh 4vw;
    table-layout: fixed;
    width: 1200px;

    & > * {
        width: 1200px;

        td {
            width: 300px;
            padding: 4px;

            &:not(:first-of-type) {
                background-color: $dark;
            }
            &.right {
                text-align: right;
            }
        }
    }
}

img {
    max-width: 600px;
    margin-bottom: 4vh;

    &.shade {
        box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.2), 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    }

    &.small {
        height: 180px;
        margin: 10px;
    }
}
a img.small {
    border: 2px solid $purple;
}
sup a,
.sup {
    color: $purple;
    padding-left: 1px;
    font-size: .83em;
    vertical-align: super;
    text-decoration: none;
}
hr {
    box-shadow: -6px -6px 0 0 $purple;
    border: 1px solid $purple;
    margin: 60px auto 80px;
    width: 60%;
}
p a {
    text-decoration: underline;
}
nav {
    margin-bottom: 20px;

    select {
        margin: 4px;
        padding: 8px;
        width: 160px;
        background-color: $black;
        color: $purple;
        border: 0;
    }
}
.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 32vh;
}
.overview-background {
    overflow-x: hidden;
    min-height: 100vh;

    h1 {
        width: 40vw;
        color: $purple;
        text-align: center;
    }
    p {
        width: 40vw;
        color: $lighter;
        text-shadow: none;
        align-self: center;
        text-align: center;
    }
    .list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 70vw;
        align-self: center;
        margin-top: 50px;

        a {
            color: $white;
            text-shadow: none;
            text-decoration: none;
            width: 400px;
            padding: 8px 32px;
            margin: 8px;
            background-color: $purple;
            text-align: center;
            display: flex;
            justify-content: space-between;
            box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
            transition: all 0.5s ease-in-out;

            span:last-of-type {
                font-size: 0.7rem !important;
                align-self:last baseline;
                transition: all 0.5s ease-in-out;
                opacity: 0.5;
            }

            &:hover {
                box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);

                span:last-of-type {
                    align-self: first baseline;
                    opacity: 1;
                }
            }
        }
    }
}

@media(max-width: $mobile-breakpoint) {
    .article {
        width: 90vw;
        margin: 2vw;
        padding: 0;

        a {
            color: $lighter;
        }
        * {
            max-width: 90vw;
        }
    }
    ul {
        margin-left: 4vw;
    }
    img.small {
        height: 30vw;
    }
    .avatar {
        margin: 2vw;
        position: relative;
    }
    p {
        width: 94vw;
        padding: 2vh 2vw;
        vertical-align: top;
    }
}
