@import '_variables.scss';
@import '_fonts.scss';

body,
button {
	font-family: 'Afacad', sans-serif;
	overflow-x: hidden;
	font-size: 1rem;
	letter-spacing: 0.1rem;
}

html {
	font-size: 20px;
}

body {
    background-color: #111111;
    color: #dddddd;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-size: 4rem;
	color: $white;
	text-shadow: 2px 2px 2px #6c6eec44;
	font-weight: 200;
}

h2 {
	font-size: 2rem;
	color: $white;
	margin-bottom: 2vh;
	text-shadow: 2px 2px 2px #6c6eec44;
	font-weight: 300;
}

ul,
ol {
	margin-left: 2vw;
}

#root {
	& > header,
	& > section,
	& > footer {
		width: 100vw;
	    box-sizing: border-box;
		position: relative;
		z-index: 999;
	}
	#bubbles {
		pointer-events: none;
	}

	& > section {
		height: 100vh;

		a,
		button,
		.cover-wrapper {
			pointer-events: all;
		}
	}

	& > footer {
		height: 120vh;

		a,
		button,
		.cover-wrapper {
			pointer-events: all;
		}
	}
}

a,
button {
    color: #eeeeee;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
	text-decoration: underline;
	text-decoration-color: #ffc917aa;
	text-underline-offset: 4px;
	text-decoration-style: dotted;

	&:hover {
		color: $yellow;
		transition: all 2s ease-in-out;
	}
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 40vh;
	z-index: 999;
	background: linear-gradient(to bottom, #11111100, #111111ff);
	pointer-events: none;

	h2 {
		font-family: 'Indie Flower', 'Afacad', sans-serif;
		color: $black;
		margin-top: -45px;
		text-shadow: 2px 2px 2px #6c6eecff;
	}
	a {
		color: $black;
		line-height: 16px;
		display: inline-block;
		pointer-events: all;
	}
}

@media(max-width: $mobile-breakpoint) {
	h1 {
		font-size: 2rem;
		max-width: 80vw;
	}
	
	h2 {
		font-size: 1.5rem;
		margin-bottom: 1vh;
		margin-top: 0;
		padding-top: 0;
	}

	.intro {
		margin-top: 2vh !important;
	}

	footer {
		padding: 1vh 1vw;
		height: 60vh;

		h2 {
			padding-left: 1vw;
		}

	    ul {
			margin-left: 2vw;
			font-size: 0.7rem;
			width: 90vw;
		}

	    .copy {
	    	display: none;
	    }
	}
}