@import '_variables.scss';
@import '_fonts.scss';

body,
button {
    font-family: 'Afacad', sans-serif;
    overflow-x: hidden;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

html {
    font-size: 20px;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $black;
}

h1 {
    font-size: 4rem;
    color: $black;
    text-shadow: 2px 2px 2px #6c6eec44;
    font-weight: 200;
    padding: 0;
    margin: 0;
    line-height: 3rem;
}
.error {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;

    div {
        width: 50vw;
        padding-left: 40px;

        &:first-of-type {
            text-align: right;
            padding-right: 40px;
        }
        &:nth-of-type(2) {
            border-left: 1px solid $black;
        }
    }

    #logo {
        position: static;
    }
    #logo_bubbles {
        display: none;
    }
    p {
        margin-bottom: 0;
    }
    .homeButton {
        width: 80px;
        height: 80px;
    }
    .bubble_1 {
        position: absolute;
        width: 50px;
        height: 50px;
        bottom: 140px;
        right: 90px;
        background-color: $purple;
        border-radius: 50%;
        padding: 0;
    	box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.16);
        opacity: 0.4;
    }
    .bubble_2 {
        position: absolute;
        width: 30px;
        height: 30px;
        bottom: 190px;
        right: 40px;
        background-color: $purple;
        border-radius: 50%;
        padding: 0;
        box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.12);
        opacity: 0.6;
    }
    .bubble_3 {
        position: absolute;
        width: 20px;
        height: 20px;
        bottom: 235px;
        right: 80px;
        background-color: $purple;
        border-radius: 50%;
        padding: 0;
    	box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.11);
        opacity: 0.5;
    }
    .bubble_4 {
        position: absolute;
        width: 10px;
        height: 10px;
        bottom: 280px;
        right: 60px;
        background-color: $purple;
        border-radius: 50%;
        padding: 0;
        box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.09);
        opacitiy: 0.8;
    }
}

