@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Afacad&family=Comfortaa&display=swap');
@import './_variables.scss';

$hue: 223;
$bg: hsl($hue, 10%, 90%);
$fg: hsl($hue, 10%, 10%);
$primary: hsl($hue, 90%, 50%);
$trans-dur: 0.3s;
$trans-timing: cubic-bezier(0.65, 0, 0.35, 1);

* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
	
a {
	color: $purple;
	transition: color $trans-dur;
}
body,
button {
	color: $fg;
	font-family: 'Afacad', sans-serif;
}
body {
	height: 100vh;
	transition: background-color $trans-dur, color $trans-dur;
	font-family: 'Afacad', sans-serif;
	overflow-x: hidden;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	background-color: $darkest;
}

h1, 
h2 {
	font-size: 4rem;
	color: $purple;
	font-weight: 200;
	margin: 0 0 3rem;
	padding-top: 1.5rem;
	text-align: center;
}
h1 {
	text-shadow: 2px 2px 8px #aaaaaa22;
}
h2 {
	font-size: 2rem;
	color: $white;
	margin-bottom: 2vh;
	font-weight: 300;
}
p {
	margin-bottom: 20px;
}
.btn {
	background-color: $fg;
	border-radius: 0.25em;
	color: $bg;
	border: 1px solid $purple;
	cursor: pointer;
	padding: 0.375em 0.75em;
	transition: background-color calc($trans-dur) / 2 linear, color $trans-dur;
	outline: none;

	&:hover {
		background-color: hsl($hue, 10%, 50%);
	}
}
.btn-group {
	display: flex;
	gap: 0.375em;
	margin-bottom: 1.5em;
}
.timeline {
	margin: auto;
	padding: 0 1.5em;
	width: 100%;
	max-width: 36em;
}
.timeline__arrow {
	background-color: transparent;
	border-radius: 0.25em;
	cursor: default;
	flex-shrink: 0;
	margin-inline-end: 0.25em;
	outline: transparent;
	width: 2em;
	height: 2em;
	transition: background-color calc($trans-dur / 2) linear, color $trans-dur;
	appearance: none;
	color: $light;
}
.timeline__arrow-icon {
	display: block;
	pointer-events: none;
	transform: rotate(-90deg);
	transition: transform $trans-dur $trans-timing;
	width: 100%;
	height: auto;
	color: $light;
}
.timeline__date {
	font-size: 0.833em;
	line-height: 2.4;
	color: $light;
}
.timeline__dot {
	background-color: currentColor;
	border-radius: 50%;
	display: inline-block;
	flex-shrink: 0;
	margin: 0.625em 0;
	margin-inline-end: 1em;
	position: relative;
	width: 0.75em;
	height: 0.75em;
	color: $light;
}
.timeline__item {
	position: relative;
	padding-bottom: 2.25em;
}
.timeline__item:not(:last-child):before {
	background-color: $light;
	content: "";
	display: block;
	position: absolute;
	top: 1em;
	left: 2.2em;
	width: 0.125em;
	height: 100%;
	transform: translateX(-50%);
}
.timeline__item-header {
	display: flex;
}
.timeline__item-body {
	border-radius: 0.375em;
	overflow: hidden;
	margin-top: 0.5em;
	margin-inline-start: 4em;
	height: 0;
}
.timeline__item-body-content {
	background-color: $dark;
	box-shadow: 2px 2px 8px 8px #aaaaaa22;
	color: $light;
	opacity: 0;
	padding: 0.5em 0.75em;
	visibility: hidden;
	transition: opacity $trans-dur $trans-timing, visibility $trans-dur steps(1, end);
}
.timeline__meta {
	width: 100%;
}
.timeline__title {
	font-size: 1.5em;
	line-height: 1.333;
	color: $light;
}
/* Expanded state */
.timeline__item-body--expanded {
	height: auto;
	
	.timeline__item-body-content {
		opacity: 1;
		visibility: visible;
		transition-delay: $trans-dur, 0s;
	}
}
.timeline__arrow--expanded .timeline__arrow-icon {
	transform: rotate(0);
}
.timeline__arrow-icon {
	height: 24px;
	width: 24px;
}

.tag {
	font-size: 12px;
	letter-spacing: 1px;
	background-color: $purple;
	color: white;
	padding: 2px 4px;
	border-radius: 4px;
	display: inline-block;
	line-height: 1rem;
	font-weight: bold;
	margin-left: 8px;
}

.ongoing {
	width: 100vw;
	display: flex;
	gap: 2vw;
	justify-content: center;
	flex-wrap: wrap;
	margin: 80px 0 32vh 0;

	& > div {
		background-color: $dark;
		color: $light;
		border-radius: 10px;
		width: 30vw;
		min-width: 300px;
		padding: 0 40px 20px 40px;
		margin-bottom: 40vh;
	}
}
.diving {
	display: none;
}
