@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Afacad&family=Comfortaa&display=swap');
@import './_variables.scss';
@import './common.scss';

.travel-background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-size: auto 100vh;
}
.content {
    background-attachment: fixed;
}
.article {
    background-color: #00000088;
    background: linear-gradient(to top, transparent 0, #00000088 80px);

    * {
        max-width: 32vw;
    }
}
.title {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 100px 0 20px 0;

    h2 {
        color: $purple;
        margin: 0;
        padding: 0;
        flex-grow: 2;
    }
    .stars {
        padding-top: 10px;
        margin-right: 20px;
    }
    a.buy {
        background-color: $purple;
        color: $white;
        border-radius: 4px;
        width: 60px;
        height: 30px;
        text-align: center;
        font-weight: bold;
        transition: all .3s linear;
        box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.2), 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
        text-decoration: none;
        align-self: flex-end;

        &:hover {
            background-color: $purple-dark;
            box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.2), 1px 1px 20px 1px rgba(0, 0, 0, 0.3);
        }
    }
}
.whisky-wrapper {
    position: relative;
    width: calc(32vw + 400px);

    .whisky-map {
        position: absolute;
        left: 32vw;
        top: 0;
        display: inline-block;
        width: 400px;
    }
}
.travel-overview-background {
    .banner {
        display: flex;
        justify-content: space-evenly;
        text-decoration: none;
        width: 70vw;
        aspect-ratio: 32 / 9;
        text-align: center;
        margin: 40px auto;
        background-size: auto 100%;
        flex-direction: column;
        box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.1);
        transition: all 1s;

        h2 {
            font-size: 4rem;
            font-weight: lighter;
            margin-bottom: 0;
            transition: all 0.5s;
            color: #ffffff;
        }
        small {
            font-size: 1rem;
            margin-top: 0;
            transition: all 0.5s;
            color: #ffffff;
        }
        &:nth-of-type(5) {
            background-size: auto 112%;
        }
        &:hover {
            box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.4);

            h2 {
                margin-bottom: 10px;
            }
            small {
                margin-top: 10px;
            }
        }
    }
}
#filtering {
    display: none;
}
.mobile {
    display: none;
}

@media(max-width: $mobile-breakpoint) {
    .whisky-wrapper {
        height: auto;
        padding: 40px 1vw;

        h2 {
            margin-left: 1vw;
        }
        .whisky-map,
        .whisky-origin,
        .whisky-tasting {
            width: 94vw;
            margin: 20px 1vw;
        }
        .whisky-map {
            margin-top: 0;

            .map {
                width: 80vw;
                height: auto;
            }
        }
    }
}
