@import './_variables.scss';

h2 {
  margin: 32px 5vw 8px 5vw;
}
form > select,
form > .select,
form > input:not([type=checkbox]),
form > textarea {
  border-radius: 8px;
  width: 90vw;
  height: 43px;
  margin: 16px 5vw !important;
  padding: 2vw !important;
  border: none;
  background-color: $light;
  box-shadow:
          4px 4px 4px 4px rgba(0, 0, 0, 0.05) inset,
          2px 2px 2px 2px rgba(0, 0, 0, 0.2) inset;

  &:focus {
    outline: none !important;
    background-color: $lighter;
    box-shadow: 4px 4px 16px 4px #6c6eec inset, 2px 2px 4px 2px #6c6eec88 inset;
  }
}
form > textarea {
  height: 100px;
}
form > input {
  padding-left: 2vw;
}
form > .select {
  & > * {
    margin-top: -4px;
  }
  * {
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    box-shadow: none;
  }
  [class*="-menu"] {
    background-color: $light;
  }
}
.codeParent {
  width: 90vw;
  height: 43px;
  margin: 16px 5vw;
  padding: 2vw;
  pre {
    border-radius: 8px;
    border-bottom: 40vh solid $darkest;
  }
}
.copyButton {
  right: 10px;
  box-shadow: none;
}