* {
    font-family: 'Afacad', sans-serif;
    font-size: 8px;
    box-sizing: border-box;
}
body {
    overflow: hidden;
}
.rsm-marker path {
    width: 4px;
    height: 4px;
}
path:focus {
    outline: none;
}
